.filter {
    background-color: #ffffff38;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
}
.enchanted {
    text-shadow: 
        -1px -1px 0 #cccccc87, 
        1px -1px 0 #cccccc87, 
        -1px 1px 0 #cccccc87, 
        1px 1px 0 #cccccc87;
}

.ItemQualityHeirloom {
    background-color: #00ccff;
}
.ItemQualityArtifact {
    background-color: #e6cc80;
}
.ItemQualityLegendary {
    background-color: #ff8000;
}
.ItemQualityEpic {
    background-color: #a335ee;
}
.ItemQualityRare {
    background-color: #0070dd;
}
.ItemQualityUncommon {
    background-color: #1eff00;
}
.ItemQualityCommon {
    background-color: #ffffff;
}
.ItemQualityPoor {
    background-color: #9d9d9d;
}

.ClassDeathKnight {
    background-color: #C41F3B;
}
.ClassDemonHunter {
    background-color: #A330C9;
}
.ClassDruid {
    background-color: #FF7D0A;
}
.ClassHunter {
    background-color: #ABD473;
}
.ClassMage {
    background-color: #69CCF0;
}
.ClassMonk {
    background-color: #00FF96;
}
.ClassPaladin {
    background-color: #F58CBA;
}
.ClassPriest {
    background-color: #FFFFFF;
}
.ClassRogue {
    background-color: #FFF569;
}
.ClassShaman {
    background-color: #0070DE;
}
.ClassWarlock {
    background-color: #9482C9;
}
.ClassWarrior {
    background-color: #C79C6E;
}