
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 contentBox" style="margin-top: 30px;">
        <h1>Permacall teamspeak</h1>
        <p>
            het IP van de permacall Teamspeak Server is: <span class="IP">permacall.tk</span> , hetzelfde IP als de site waar je nu mee verbonden bent.
        </p>
        <br/>
        <p>Je kan ook <a href="ts3server://permacall.tk/">HIER</a> klikken om de teamspeak server te joinen.</p>

    </div>
</div>

