
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 contentBox" style="margin-top: 30px;">
        <h1>Permacall teamspeak</h1>
        <p>
            The IP of the permacall Teamspeak Server is: <span class="IP">permacall.tk</span> , the same adress you're using right now to view this page.
        </p>
        <br/>
        <p>You can also <a href="ts3server://permacall.nl/">CLICK HERE</a> to join the teamspeak server.</p>

    </div>
</div>

