
@{
    ViewBag.Title = "CONNECTION INSECURE";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 contentBox" style="margin-top: 30px;">
        <div class="col-md-12 text-center" style="border-style:solid; border-color: red; background-color: lightcoral; border-width: 2px; border-radius: 15px;">
            <h1>CONNECTION INSECURE</h1>
        </div>
        <h2>
            The browser could not establish a secure connection with the server!
        </h2>
        <p>
            Check your internet connection and only continue when you can see the green lock next to the URL bar!
            You might see this while using an insecure public wifi, and your internet traffic might be tapped.
        </p>

    </div>
</div>
