body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #4bb5ff !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.modal-header {
    background-color: #8B0000 !important;
 }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1000px;
    width: 100%;
}

.contentBox {
    background-color: #81cbff;
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
    border-radius: 25px;
}

.NickName {
    padding: 1px;
    margin: 1px;
    font-weight: bold;
    font-size: 110%;
}
.Channel {
    padding: 1px;
    margin: 1px;
}
.noLink {
    text-decoration: none;
    color: black;
}
.ChannelGroup {
    padding-left: 22px !IMPORTANT;
}
.Account {
    border: black;
    border-width: 1px;
    border-radius: 3px;
}
