
@{
    ViewBag.Title = "Tools";
}

<div class="contentBox">
    <h2>These are all the small tools I made</h2>

    <br />

    @Html.ActionLink("World of Warcraft ILvl Viewer", "Index", "WowTools")
    <br/>
    <a href="/SimpleEncrypter.zip">Simple Encryption Tool</a>



</div>